# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

# Backend venv
__pycache__/
deprecated/
/Backend/venv
backend/deprecated/nodes/__pycache__
server.js
/backend/deprecated/nodes/__pycache__/
/backend/research
/backend/config.cpython-310.pyc
/backend/pve/__pycache__/
/backend/pve/app/__pycache__/
/backend/pve/app/models/__pycache__/
/backend/pve/app/nodes/__pycache__/
/backend/pve/app/routes/__pycache__/
/backend/pve/app/utils/__pycache__/
/backend/pve/app/websocket/__pycache__/