@import './base.css';
@import './nodes.css';

#app {
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  font-weight: normal;
}


@media (hover: hover) {
  a:hover {
  }
}

@media (min-width: 600px) {
  body {
    place-items: center;
  }

  #app {
    display: grid;
  }
}

/* this CSS contains only the basic CSS needed to run the app and use it */
