@import './base.css';
@import './nodes.css';

#app {
  margin: 0 auto;
  padding: 1rem 1rem 1rem 1rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 600px) {
  body {
    
    place-items: center;
  }

  #app {
    display: grid;

    padding: 1 rem;
  }
}

/* this CSS contains only the basic CSS needed to run the app and use it */
